<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/app.css">

    <title>School</title>

    <style>
        body {
            background-image: linear-gradient(#cfd9df, #cfd9df);
            background-repeat: repeat;
            background-size: cover;
            width: 99%;
        }
    </style>
</head>

<body>
    {% include 'auth/navigation.html' %}

    <div class="container-fluid"></div>
    {% block content %}
    <div class="embed-responsive embed-responsive-16by9" style="width: 85%; margin-left: 8%; margin-top: 0.5%;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1LxFtLbreLE?autoplay=0" allowfullscreen></iframe>
    </div>
    {% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
        <script src="{{ base_url() }}/js/main.js"></script>
</body>

</html>