{% extends 'templates/app.html' %} {% block content %}

<div class="row">
    <div class="col-sm-3 col-sm-3">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-light bg-primary border border-dark" id="student-tab" data-toggle="tab" href="#student" role="tab"
                    aria-controls="student" aria-selected="true">Students</a>
            </li>
            <a class="btn btn-outline-dark" href="{{ path_for('get.student') }}" role="button">add</a>
            <span class="ml-3"></span>
            <li class="nav-item">
                <a class="nav-link text-light bg-primary border border-dark" id="course-tab" data-toggle="tab" href="#course" role="tab"
                    aria-controls="course" aria-selected="false">Courses</a>
            </li>
            {% if (auth.check and auth.user.role != "sale") %}
            <a class="btn btn-outline-dark" href="{{ path_for('get.course') }}" role="button">add</a>
            {% else %}
            <a class="btn btn-outline-dark" href="#" role="button">add</a>
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="show active class=list-group list-group-flush tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">
                {% for st in student %}
                <div class="card list-group-item list-group-item-action">
                    <img class="card-img-top" src="/../school/uploads/{{st.image}}">
                    <ul class="list-group list-group-flush">s
                        <li class="list-group-item">
                            <span class="font-weight-bold">Name:</span> {{st.name}} </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">Phone:</span> {{st.phone}}</li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">Email:</span> {{st.email}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path_for('get.student.details',{ 'id' : st.id }) }}" class="card-link">Details</a>
                        <a href="{{ path_for('get.student.update',{ 'id' : st.id }) }}" class="card-link">Update</a>
                        <a href="{{ path_for('get.student.delete',{ 'id' : st.id }) }}" class="card-link">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="class=list-group list-group-flush tab-pane fade" id="course" role="tabpanel" aria-labelledby="course-tab">
                {% for cr in course %}
                <div class="card list-group-item list-group-item-action">
                    <img class="card-img-top" src="/../school/uploads/{{cr.image}}">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="font-weight-bold">Name:</span> {{cr.name}}</li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">Description:</span> {{cr.description}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path_for('get.course.details',{ 'id' : cr.id }) }}" class="card-link">Details</a>
                        {% if (auth.check and auth.user.role != "sale") %}
                        <a href="{{ path_for('get.course.update',{ 'id' : cr.id }) }}" class="card-link">Update</a>
                        <a href="{{ path_for('get.course.delete',{ 'id' : cr.id }) }}" class="card-link">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    {% for st in student_data %}
    <form action="{{ path_for('post.student.update',{ 'id' : st.id }) }}" method="post" autocomplete="off" style="width: 30%; margin-top: 0.5%;">
        <img class="card-img-top" src="/../school/uploads/{{st.image}}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{st.name}}" class="form-control {{ errors.name ? ' is-invalid' : '' }}"
                value="{{ old.name }}"> {% if errors.name %}
            <span class="form-text text-danger">{{ errors.name | first }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="{{st.email}}" class="form-control"> 
            {% if errors.email %}
            <span class="form-text text-danger">{{ errors.email | first }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phone" value="{{st.phone}}" class="form-control"> 
            {% if errors.phone %}
            <span class="form-text text-danger">{{ errors.phone | first }}</span>
            {% endif %}
        </div>
        <button type="submit" name="saveStudent" id="saveStudent" class="btn btn-primary float-right">Save</button>
        {{csrf.field | raw}}
    </form>
    {% endfor %}
</div>
{% endblock %}